{% extends 'tasks/layout.html.twig' %}

{% block title %} Задача №{{ id }} {% endblock %}

{% block toolbar %}
    <div class="c-toolbar u-mb-medium">
        <h3 class="c-toolbar__title has-divider">Задача №{{ id }}</h3>
        <span class="c-toolbar__title has-divider u-hidden-visually" task-number>{{ id }}</span>
        <h5 class="c-toolbar__meta u-mr-auto">Просмотр и управление задачей</h5>
        {{ include('tasks/blocks/actions_task.html.twig') }}
    </div>
{% endblock %}

{% block content %}
    <main style="padding-top: 170px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4">
                    <div class="c-card u-p-medium u-mb-medium">
                        <h5 class="u-h6 u-mb-medium">Детали задачи</h5>

                        <table class="u-width-100">
                            <tbody>
                            <tr>
                                <td class="u-pb-xsmall u-color-primary u-text-small">Автор</td>
                                <td class="u-pb-xsmall u-text-right u-text-mute u-text-small">Иван Задачников</td>
                            </tr>
                            <tr>
                                <td class="u-pb-xsmall u-color-primary u-text-small">Исполнитель</td>
                                <td class="u-pb-xsmall u-text-right u-text-mute u-text-small">Дмитрий Исполнев</td>
                            </tr>
                            <tr>
                                <td class="u-pb-xsmall u-color-primary u-text-small">Статус</td>
                                <td class="u-pb-xsmall u-text-right u-text-mute u-text-small">
                                    <i class="fa fa-circle-o u-color-warning"></i>
                                    Согласование
                                </td>
                            </tr>
                            <tr>
                                <td class="u-color-primary u-text-small">Приоритет</td>
                                <td class="u-text-right u-text-mute u-text-small">
                                    <span class="c-badge c-badge--warning c-badge--xsmall">Средний</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="u-color-primary u-text-small">Тип</td>
                                <td class="u-text-right u-text-mute u-text-small">
                                    <span class="c-badge c-badge--success c-badge--xsmall">Доработка</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="u-color-primary u-text-small">Направление</td>
                                <td class="u-text-right u-text-mute u-text-small">
                                    <span class="c-badge c-badge--primary c-badge--xsmall">Прием заказов</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="c-divider u-mv-small"></div>

                        <div class="u-flex u-justify-between u-align-items-center">
                            <p>Срок выполнения</p>

                            <div style="display: flex;">
                                <a class="c-nav__link" style="margin-right: 10px; padding-top: 3px;">
                                    <i class="fa fa-link"></i>
                                    Решение
                                </a>
                                <span class="c-badge c-badge--danger">10.08.2019</span>
                            </div>
                        </div>
                    </div>
                    <task-members></task-members>
                </div>
                <div class="col-xl-8">
                    <article class="c-stage">
                        <div class="c-stage__header o-media u-justify-start">
                            <div class="c-stage__icon o-media__img">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <div class="c-stage__header-title o-media__body">
                                <h6 class="u-mb-zero">{{ task.title }}</h6>
                                <p class="u-text-xsmall u-text-mute">Была в работе: 05.08.2019 | Ожидается через: 10 дней(-я)</p>
                            </div>
                        </div>

                        <div class="c-stage__panel u-p-medium">

                            <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Описание</p>
                            <div class="u-mb-medium u-text-mute u-text-small" style="list-style-type: revert !important;">
                                {{ task.body | raw }}
                            </div>

                            <p class="u-text-mute u-text-uppercase u-text-small u-mb-xsmall">Прикрепленные файлы</p>
                            <div class="row u-mb-medium">
                                <div class="col-md-6 col-lg-4">
                                    <ul>
                                        <li class="u-mb-xsmall u-text-small u-color-primary">
                                            <i class="fa fa-file-image-o u-text-mute u-mr-xsmall"></i>
                                            <a href="">Пример отчета.png</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-6 col-lg-8">
                                    <ul>
                                        <li class="u-mb-xsmall u-text-small u-color-primary">
                                            <i class="fa fa-file-text-o u-text-mute u-mr-xsmall"></i>
                                            <a href="">Отчет.xlsx</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;"></div>

                        </div>
                    </article>
                    <comments></comments>
                </div>
            </div>
        </div><!-- // .container -->
    </main><!-- // .o-page__content -->
{% endblock %}