{% extends 'tasks/layout.html.twig' %}

{% block title %} Менеджер задач {% endblock %}

{% block toolbar %}
    <div class="c-toolbar u-mb-medium">
        <h3 class="c-toolbar__title has-divider">Задачи для разработки</h3>
        <h5 class="c-toolbar__meta u-mr-auto">Управление задачами</h5>
        {{ include('tasks/blocks/actions_tasks.html.twig') }}
    </div>
{% endblock %}

{% block filters %}
    {{ include('tasks/blocks/filters.html.twig') }}
{% endblock %}

{% block content %}
    <div class="container" style="max-width: 96%; padding-top: 170px;">
        <div class="row u-mb-large">
            <div class="col-sm-12">
                <div class="c-table-responsive@desktop">
                    <table class="c-table" id="datatable">

                        <caption class="c-table__title">
                            Список задач <small>Всего задач: 56</small>

                            <a class="c-table__title-action" style="display: none;">
                                <i class="fa fa-cloud-download"></i>
                            </a>
                        </caption>

                        <thead class="c-table__head c-table__head--slim">
                        <tr class="c-table__row">
                            <th class="c-table__cell c-table__cell--head">Номер</th>
                            <th class="c-table__cell c-table__cell--head no-sort">Задача</th>
                            <th class="c-table__cell c-table__cell--head">Срок</th>
                            <th class="c-table__cell c-table__cell--head no-sort">Исполнитель</th>
                            <th class="c-table__cell c-table__cell--head no-sort">Автор</th>
                            <th class="c-table__cell c-table__cell--head no-sort">Статус</th>
                            <th class="c-table__cell c-table__cell--head">Приоритет</th>
                            <th class="c-table__cell c-table__cell--head no-sort">Тип</th>
                            <th class="c-table__cell c-table__cell--head no-sort">Направление</th>
                            <th class="c-table__cell c-table__cell--head no-sort">
                                <span class="u-hidden-visually">Действия</span>
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                            {% for task in tasks %}
                                <tr class="c-table__row c-table__row--danger">
                                    <td class="c-table__cell">
                                        <small class="u-block u-text-mute">{{ task.id }}</small>
                                    </td>
                                    <td class="c-table__cell" style="white-space: normal;">
                                        <a href="{{ path('tasks_view', {'id': task.id}) }}">{{ task.title }}</a>
                                        <small class="u-block u-text-mute"></small>
                                    </td>

                                    <td class="c-table__cell">
                                        {% if task.dueDate %}
                                            {{ task.dueDate | date("d.m.Y") }}
                                        {% endif %}
                                        <small class="u-block u-text-danger"></small>
                                    </td>

                                    <td class="c-table__cell">
                                        <div class="o-media">
                                            <div class="o-media__img u-mr-xsmall">
                                                {{ task.asignee }}
                                            </div>
                                        </div>
                                    </td>

                                    <td class="c-table__cell">
                                        {{ task.author }}
                                    </td>

                                    <td class="c-table__cell">
                                        <i class="fa fa-circle-o u-color-warning u-mr-xsmall"></i>{{ task.status.name }}
                                    </td>
                                    <td class="c-table__cell">
                                        <span class="c-badge c-badge--warning">{{ task.priority.name }}</span>
                                    </td>
                                    <td class="c-table__cell">
                                        <span class="c-badge c-badge--success">{{ task.type.name }}</span>
                                    </td>
                                    <td class="c-table__cell">
                                        <span class="c-badge c-badge--primary">{{ task.area.name }}</span>
                                    </td>
                                    <td class="c-table__cell">
                                        <div class="c-dropdown dropdown">
                                            <button class="c-btn c-btn--secondary has-dropdown dropdown-toggle" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Задача</button>
                                            <div class="c-dropdown__menu dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <a class="c-dropdown__item dropdown-item" href="#">
                                                    <i class="fa fa-circle-o u-color-info u-mr-xsmall"></i>
                                                    В работе
                                                </a>
                                                <a class="c-dropdown__item dropdown-item" href="#">
                                                    <i class="fa fa-circle-o u-color-warning u-mr-xsmall"></i>
                                                    Запрос данных
                                                </a>
                                                <a class="c-dropdown__item dropdown-item" href="#">
                                                    <i class="fa fa-circle-o u-color-warning u-mr-xsmall"></i>
                                                    Согласование
                                                </a>
                                                <a class="c-dropdown__item dropdown-item" href="#">
                                                    <i class="fa fa-circle-o u-color-primary u-mr-xsmall"></i>
                                                    Отменено
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}